.below-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;

  margin-top: 70px;
}
.profile-image {
}
.profile-image:hover {
  animation: shake 1s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}
@keyframes shake {
  20%,
  80% {
    transform: translate3d(-1px, -1px, -1px);
  }
}
.header-bar {
  background-color: #2e8bc0;
  background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
@media only screen and (min-width: 1024px) {
  .below-nav {
    flex-direction: row;
    background-color: transparent;
    justify-content: center;
    align-items: center;
  }
  .header-bar {
    padding: 2% 6% 0% 6%;
    margin: 5%;
  }
}
