.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  background-color: #f4f1ec;
}

p {
  text-align: justify;
}
