nav {
  background-color: #0c2d48;
  color: #ffffff;
  padding: 0.8em 1.2em 1.2em 1.2em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 70px;
  position: fixed;
  top: 0;
  width: 100%;
}

.logo {
  margin-top: 1em;
  font-family: "Bungee", cursive;
  margin-top: 0.5em;
}

.write-tweet-label {
  display: flex;
  flex-direction: row;
}
.bold-text {
  font-weight: 600;
}

.left-nav-bar {
  display: flex;
  flex-direction: column;
}

.arrow {
  color: red;
  align-self: center;
}

.arrow-dance {
  animation: UpDown 3.5s linear infinite;
  position: absolute;
}
@keyframes UpDown {
  0% {
    bottom: 0;
  }
  50% {
    bottom: 0.2em;
  }
  100% {
    bottom: 0;
  }
}
