.article-tweet.header {
  display: flex;
  justify-content: space-between;
}

.tweet-container {
  border: 3px solid;
  margin: 10px 0px;
  width: 100%;
  /* transition: box-shadow 0.3s; */
}
.tweet-container:hover {
  animation: pulse 200s infinite;
  animation-iteration-count: 1;
  box-shadow: 8px 6px 5px rgba(197, 194, 194, 0.8);
}

@keyframes pulse {
  0%,
  100% {
    background-color: #f4f1ec;
  }
  0.5% {
    background-color: #b5d3dd;
  }
}

.article-tweet.footer {
  font-size: 60%;
  display: flex;
  justify-content: space-between;
  padding: 0% 3% 3% 3%;
}

.article-tweet.header.name {
  font-size: 82%;
  padding: 3% 0% 0% 2%;
}

.article-tweet.main {
  border: none;
  border-bottom: solid 3px;
  padding-bottom: 2%;
  margin: 6% 3% 2% 3%;
  overflow-wrap: break-word;
  font-size: 100%;
}

.article-tweet.header.name > .name-text {
  margin-left: 15%;
  flex-shrink: 0;
}

.article-tweet.header.name > .icon {
  margin-left: 15%;
  height: 15px;
}

.article-tweet.header.tag {
  margin: 3% 2% 0% 0%;
  color: rgba(158, 152, 152, 0.562);
  font-size: 80%;
}

.fas:hover {
  color: orange;
}

.fa-user-ninja:hover {
  color: #5e6572;
}

@media only screen and (max-width: 420px) {
  .tweet-container {
    font-size: 16px;
    margin-top: 10.8%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .tweet-container {
    font-size: 22px;
    margin-top: 10.8%;
  }
}

@media only screen and (min-width: 1024px) {
  .tweet-container {
    font-size: 24px;
    margin-top: 10.8%;
  }
}
